<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WKTApp - Backoffice</title>

    {% if config.BUNDLE_FILES == True %}
    <link href="{{ url_for('static', filename='build/css/bundle-backoffice.css') }}" rel="stylesheet">
    {% else %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap-select CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
    <!-- bootstrap-datetimepicker CSS-->
    <link href="{{ url_for('static', filename='bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="{{ url_for('static', filename='css/libs/timeline.css') }}" rel="stylesheet">

    <!-- Codemirror CSS -->
    <link href="{{ url_for('static', filename='bower_components/codemirror/lib/codemirror.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/libs/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if config.BUNDLE_FILES == True %}
    <script src="{{ url_for('static', filename='build/js/bundle-backoffice-modules.js') }}" type="text/javascript"></script>
    {% else %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery-3.2.1/dist/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery-ui-1.12.1/jquery-ui.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap-select JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap-select/dist/js/i18n/defaults-pt_PT.min.js') }}"></script>
    <!-- Bootstrap-datetimepicker JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/moment/min/locales.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.js') }}" type="text/javascript"></script>
    <!-- Graphics JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/js/libs/svg/tools.js') }}" type="text/javascript"></script>

    <!-- Codemirror JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/codemirror/lib/codemirror.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/addon/edit/matchbrackets.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/addon/comment/continuecomment.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/addon/comment/comment.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/mode/javascript/javascript.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/mode/xml/xml.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/mode/css/css.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/codemirror/mode/htmlmixed/htmlmixed.js') }}" type="text/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='scripts/js/libs/sb-admin-2.js') }}" type="text/javascript"></script>
    {% endif %}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('backoffice.index') }}">WKTApp - BackOffice</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        {% if show_mensagens %}
                            {% if mensagens %}
                                {% for msg in mensagens %}
                                <li>
                                    <a href="{{ url_for('backoffice.mensagens_edit', id=msg.id) }}">
                                        <div>
                                            <strong>{{ msg.nome or msg.email or '' }}</strong>
                                            <span class="pull-right text-muted">
                                                <em>{{ msg.data_mensagem|datetimefilter }}</em>
                                            </span>
                                        </div>
                                        <div>{{ msg.mensagem }}</div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% endfor %}
                            {% else %}
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Não existem novas mensagens</strong>
                                </a>
                            </li>
                            <li class="divider"></li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a class="text-center" href="{{ url_for('backoffice.mensagens') }}">
                                <strong>Todas as Mensagens</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>

                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Definições</a>
                        </li>
                        <li class="divider"></li>
                        -->
                        <li><a href="{{ url_for('security.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>
                        -->
                        <li>
                            <a href="{{ url_for('backoffice.index') }}"><i class="fa fa-dashboard fa-fw"></i> Painel de Administração</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Segurança<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('backoffice.security_user') }}">Utilizadores</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('backoffice.security_role') }}">Grupos</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe fa-fw"></i> Mapas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('backoffice.mapas_config') }}">Configurações</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('backoffice.mapas_mapa') }}">Mapas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe fa-fw"></i> Emissão de Plantas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('backoffice.plantas_template') }}"><i class="fa fa-file-o fa-fw"></i> Templates</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('backoffice.sub_plantas') }}"><i class="fa fa-file-o fa-fw"></i> Elementos</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('backoffice.plantas_tipo') }}"><i class="fa fa-file-o fa-fw"></i> Grupos</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('backoffice.plantas') }}"><i class="fa fa-file-o fa-fw"></i> Plantas</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('backoffice.catalogos') }}"><i class="fa fa-folder-open-o fa-fw"></i> Catálogos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sliders fa-fw"></i> Definições<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('backoffice.settings_site') }}">Parâmetros</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
                {% if version %}
                <div>
                    <a class="navbar-brand" href="{{ url_for('backoffice.index') }}">Versão: {{ version }}</a>
                </div>
                {% endif %}
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
        $.fn.selectpicker.defaults.selectAllText = "Todos";
        $.fn.selectpicker.defaults.deselectAllText = "Nenhum";
    </script>

    {% block post_script %}
    {% endblock %}


</body>

</html>
