{% extends "backoffice/_layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Grupos de Plantas<i class="fa fa-long-arrow-right  fa-fw" aria-hidden="true"></i>Edição</h1>
    </div>
</div>

<div id="informationDiv" >
</div>

<div class="module-content">
    <form method="post" id="formTipoPlanta" name="formPlanta">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
           <div class="alert alert-success alert-dismissible" role="alert">
              <a class="close" data-dismiss="alert">×</a>
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           </div>
           {% endif %}
        {% endwith %}

        {% if error %}
           <div class="alert alert-danger alert-dismissible" role="alert">
              <a class="close" data-dismiss="alert">×</a>
              <h4 class="alert-heading">Erros:</h4>
              <ul>
             {% if error and error.Message %}
               <li>{{ error.Message }}</li>
             {% endif %}
             {% for field in form if field.widget.input_type != 'hidden' %}
               {% if field.errors %}
                  <li><strong>{{ field.label.text }}</strong>:{% for error in field.errors %} {{ error }}.{% endfor %}</li>
               {% endif %}
             {% endfor %}
              </ul>
           </div>
        {% endif %}

        {{ form.csrf_token }}

        <fieldset>
            <!--
            <legend>Edição de Tipo de Planta</legend>
            -->

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Código</label>
                            <input type="text" name="codigo" id="codigo" class="form-control input-block-level" value="{{ form.codigo.data or '' }}" />
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="activo" type="checkbox" value="{{ form.activo.data or '' }}" {% if form.activo.data %}checked{% endif %} />{{ form.activo.label.text }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Título:</label>
                            <input type="text" name="titulo" id="titulo" class="form-control input-block-level" value="{{ form.titulo.data or '' }}" />
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="identificacaoRequerente" type="checkbox" value="{{ form.identificacaoRequerente.data or '' }}" {% if form.identificacaoRequerente.data %}checked{% endif %} />{{ form.identificacaoRequerente.label.text }}
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="marcacaoLocal" type="checkbox" value="{{ form.marcacaoLocal.data or '' }}" {% if form.marcacaoLocal.data %}checked{% endif %} />{{ form.marcacaoLocal.label.text }}
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="multiGeom" type="checkbox" value="{{ form.multiGeom.data or '' }}" {% if form.multiGeom.data %}checked{% endif %} />{{ form.multiGeom.label.text }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Descrição:</label>
                            <textarea name="descricao" id="descricao" class="form-control input-block-level" rows="4">{{ form.descricao.data or '' }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tolerância:</label>
                            <input type="text" id="tolerancia" name="tolerancia" class="form-control input-block-level" value="{{ form.tolerancia.data or '' }}" />
                        </div>
                        <div class="col-md-6">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="showAll" type="checkbox" value="{{ form.showAll.data or '' }}" {% if form.showAll.data %}checked{% endif %} />{{ form.showAll.label.text }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="seleccaoPlantas" type="checkbox" value="{{ form.seleccaoPlantas.data or '' }}" {% if form.seleccaoPlantas.data %}checked{% endif %} />Seleção de plantas
                            </label>
                        </div>
                        <div class="col-md-5">
                            <label>&nbsp;</label>
                            <label class="checkbox">
                                <input name="agruparPlantas" type="checkbox" value="{{ form.agruparPlantas.data or '' }}" {% if form.agruparPlantas.data %}checked{% endif %} />Agrupar plantas
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-left: 45px">
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <label class="checkbox">
                        <input name="autorEmissao" type="checkbox" value="{{ form.autorEmissao.data or '' }}" {% if form.autorEmissao.data %}checked{% endif %} />{{ form.autorEmissao.label.text }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <label class="checkbox">
                        <input name="guiaPagamento" type="checkbox" value="{{ form.guiaPagamento.data or '' }}" {% if form.guiaPagamento.data %}checked{% endif %} />{{ form.guiaPagamento.label.text }}
                    </label>
                </div>
                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <label class="checkbox">
                        <input name="finalidadeEmissao" type="checkbox" value="{{ form.finalidadeEmissao.data or '' }}" {% if form.finalidadeEmissao.data %}checked{% endif %} />{{ form.finalidadeEmissao.label.text }}
                    </label>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-md-12">
                    <label>Emissão de Plantas</label>

                    <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#grupos_plantas" aria-controls="grupos_plantas" role="tab" data-toggle="tab">Grupos</a></li>
                        <li role="presentation"><a href="#plantas_simples" aria-controls="plantas_simples" role="tab" data-toggle="tab">Plantas</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="grupos_plantas">

                            <div class="row" style="padding-top: 20px">
                                <div class="col-md-5">
                                    <label>Grupos Disponíveis</label>
                                    <div class="panel panel-default">
                                        <!--<div class="panel-heading">Plantas Disponíveis</div>-->
                                        <table class="table table-striped table-hover" id="tipos-plantas-all">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nome</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for tipo in tipos_plantas %}
                                                <tr>
                                                    {% set vars = {'checked': False} %}
                                                    {% for u in form.TiposPlantasList.data %}
                                                        {% if u == tipo.id|string %}
                                                            {% if vars.update({'checked': True}) %} {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <td>{{ tipo.codigo or '' }}</td>
                                                    <td>{{ tipo.titulo or '' }}</td>
                                                    <td>
                                                        {% if vars.checked %}
                                                            <a href="#" class="add-item" style="display: none" data-tipo-planta-id="{{ tipo.id }}" data-tipo-planta-codigo="{{ tipo.codigo }}" data-tipo-planta-titulo="{{ tipo.titulo }}">Adicionar</a>
                                                        {% else %}
                                                            <a href="#" class="add-item" data-tipo-planta-id="{{ tipo.id }}" data-tipo-planta-codigo="{{ tipo.codigo }}" data-tipo-planta-titulo="{{ tipo.titulo }}">Adicionar</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <label>Grupos Selecionados</label>
                                    <div class="panel panel-default">
                                        <table class="table table-striped table-hover sortable" id="tipos-plantas-selected">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px"></th>
                                                <th>Codigo</th>
                                                <th>Nome</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for u in form.TiposPlantasList.data %}
                                                {% for tipo in tipos_plantas %}
                                                    {% set vars = {'checked': False} %}
                                                    {% if u == tipo.id|string %}
                                                        {% if vars.update({'checked': True}) %} {% endif %}
                                                    {% endif %}
                                                    {% if vars.checked %}
                                                    <tr>
                                                        <td><input type="checkbox" class="display: hidden" name="TiposPlantasList-{{ loop.index0 }}" value="{{ tipo.id }}" {% if vars.checked %}checked{% endif %}></td>
                                                        <td>{{ tipo.codigo or '' }}</td>
                                                        <td>{{ tipo.titulo or '' }}</td>
                                                        <td><a href="#" class="remove-item" data-tipo-planta-id="{{ tipo.id }}">Remover</a></td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="plantas_simples">

                            <div class="row" style="padding-top: 20px">
                                <div class="col-md-5">
                                    <label>Plantas Disponíveis</label>
                                    <div class="panel panel-default">
                                        <!--<div class="panel-heading">Plantas Disponíveis</div>-->
                                        <table class="table table-striped table-hover" id="plantas-all">
                                            <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nome</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for planta in plantas %}
                                            <tr>
                                                {% set vars = {'checked': False} %}
                                                {% for u in form.PlantasList.data %}
                                                    {% if u == planta.id|string %}
                                                        {% if vars.update({'checked': True}) %} {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <td>{{ planta.codigo or '' }}</td>
                                                <td>{{ planta.nome or '' }}</td>
                                                <td>
                                                    {% if vars.checked %}
                                                        <a href="#" class="add-item" style="display: none" data-planta-id="{{ planta.id }}" data-planta-codigo="{{ planta.codigo }}" data-planta-nome="{{ planta.nome }}">Adicionar</a>
                                                    {% else %}
                                                        <a href="#" class="add-item" data-planta-id="{{ planta.id }}" data-planta-codigo="{{ planta.codigo }}" data-planta-nome="{{ planta.nome }}">Adicionar</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <label>Plantas Selecionadas</label>
                                    <div class="panel panel-default">
                                        <!--<div class="panel-heading">Plantas Seleccionadas</div>-->
                                        <table class="table table-striped table-hover sortable" id="plantas-selected">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px"></th>
                                                <th>Codigo</th>
                                                <th>Nome</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for u in form.PlantasList.data %}
                                                {% for planta in plantas %}
                                                    {% set vars = {'checked': False} %}
                                                    {% if u == planta.id|string %}
                                                        {% if vars.update({'checked': True}) %} {% endif %}
                                                    {% endif %}
                                                    {% if vars.checked %}
                                                    <tr>
                                                        <td><input type="checkbox" class="display: hidden" name="PlantasList-{{ loop.index0 }}" value="{{ planta.id }}" {% if vars.checked %}checked{% endif %}></td>
                                                        <td>{{ planta.codigo or '' }}</td>
                                                        <td>{{ planta.nome or '' }}</td>
                                                        <td><a href="#" class="remove-item" data-planta-id="{{ planta.id }}">Remover</a></td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                </div>
            </div>


            <div style="margin-bottom: 50px">
            </div>


            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button type="button" class="btn btn-default" onclick="location.href='{{ url_for('backoffice.plantas_tipo') }}'" >Voltar</button>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </div>
            </div>

        </fieldset>

        <div style="margin-bottom: 50px">
        </div>

    </form>
</div>
{% endblock %}

{% block post_script %}

<script type="text/javascript">
(function ($) {
    $.fn.extend({
        //pass the options variable to the function
        informationModal: function (options) {
            var html = '<div class="modal fade" id="infoContainer" tabindex="-1" role="dialog" aria-hidden="true">' +
            '<div class="modal-content">' +
            '<div class="modal-header"><a class="close" data-dismiss="modal">×</a>' +
            '<h3>#Heading#</h3></div><div class="modal-body">' +
            '<div class="#MessageClass#">#Body#</div></div><div class="modal-footer">' +
            '<a href="#" class="btn btn-primary" data-dismiss="modal" id="infoCloseButton">Fechar</a></div></div><div>';

            var defaults = {
                heading: 'Informação',
                body: '',
                messageClass: 'alert alert-info',
                callback: null
            };

            $('#infoCloseButton', this).unbind();
            $('#informationDiv').unbind();

            var options = $.extend(defaults, options);
            html = html.replace('#Heading#', options.heading).replace('#Body#', options.body).replace('#MessageClass#', options.messageClass);

            $(this).html(html);
            $("#infoContainer", this).modal('show');
            var context = $(this);
            $('#infoCloseButton', this).click(function () {
                $("#infoContainer", context).modal('hide');

                if (options.callback != null)
                    options.callback();
            });
        }
    });
})(jQuery);
</script>


<script type="text/javascript">
    $(function () {
        //Form submit
        $('form').submit(function (e) {
            var form = this;
        });

        $("tbody").sortable({
            items: "> tr",
            appendTo: "parent",
            helper: "clone",
            stop: function( event, ui ) {
                $("tbody tr", "#plantas-selected").each(function( index ) {
                    console.log( index + ": " + $( this ).text() );
                    $("input", this).attr("name", "PlantasList-" + index);
                });
            }
        }).disableSelection();


        /* -- Tipos de Plantas --*/

        $("tbody", "#tipos-plantas-selected").sortable({
            items: "> tr",
            appendTo: "parent",
            helper: "clone",
            stop: function( event, ui ) {
                $("tbody tr", "#tipos-plantas-selected").each(function( index ) {
                    console.log( index + ": " + $( this ).text() );
                    $("input", this).attr("name", "TiposPlantasList-" + index);
                });
            }
        }).disableSelection();

        $("#tipos-plantas-all").on("click", ".add-item", function(e) {
            e.preventDefault();

            var id = $(this).data("tipo-planta-id");
            var codigo = $(this).data("tipo-planta-codigo");
            var titulo = $(this).data("tipo-planta-titulo");

            var html = '<tr><td><input type="checkbox" class="display: hidden" name="TiposPlantasList-" value="' + id + '"  checked></td>';
            html += '<td>' + codigo + '</td>';
            html += '<td>' + titulo + '</td>';
            html += '<td><a href="#" class="remove-item" data-tipo-planta-id="' + id + '">Remover</a></td></tr>';

            if ($('#tipos-plantas-selected tbody tr:last').length > 0) {
                $('#tipos-plantas-selected tbody tr:last').after(html);
            } else {
                $('#tipos-plantas-selected tbody').append(html)
            }

            $("tbody tr", "#tipos-plantas-selected").each(function( index ) {
                console.log( index + ": " + $( this ).text() );
                $("input", this).attr("name", "TiposPlantasList-" + index);
            });

            $(this).hide();
        });

        $("#tipos-plantas-selected").on("click", ".remove-item", function(e) {
            e.preventDefault();

            var id = $(this).data("tipo-planta-id");
            $(this).closest('tr').remove();
            $("a[data-tipo-planta-id=" + id +"]", "#tipos-plantas-all").show();
        });


        /* -- Plantas --*/

        $("#plantas-all").on("click", ".add-item", function(e) {
            e.preventDefault();

            var id = $(this).data("planta-id");
            var codigo = $(this).data("planta-codigo");
            var nome = $(this).data("planta-nome");

            var html = '<tr><td><input type="checkbox" class="display: hidden" name="PlantasList-" value="' + id + '"  checked></td>';
            html += '<td>' + codigo + '</td>';
            html += '<td>' + nome + '</td>';
            html += '<td><a href="#" class="remove-item" data-planta-id="' + id + '">Remover</a></td></tr>';

            if ($('#plantas-selected tbody tr:last').length > 0) {
                $('#plantas-selected tbody tr:last').after(html);
            } else {
                $('#plantas-selected tbody').append(html)
            }

            $("tbody tr", "#plantas-selected").each(function( index ) {
                console.log( index + ": " + $( this ).text() );
                $("input", this).attr("name", "PlantasList-" + index);
            });

            $(this).hide();
        });

        $("#plantas-selected").on("click", ".remove-item", function(e) {
            e.preventDefault();

            var id = $(this).data("planta-id");
            $(this).closest('tr').remove();
            $("a[data-planta-id=" + id +"]", "#plantas-all").show();
        });
    });
</script>
{% endblock %}


