<div class="menu-bar-heading">
    <a href="#" class="">Confrontação</a>
</div>
<div class="menu-bar-body">

    <div>

        <div class="col-md-12">
            <h5 class="page-header"><strong>Marcação de Local</strong></h5>
        </div>

        <div class="col-md-12 text-center">
            <div class="btn-toolbar geometry-buttons">
                <div class="btn-group" data-group="btn-geometry">
                    <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlCFTCreatePoint" title="Ponto" href="#"><i class="fa fac-draw-point"></i></button>
                    <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlCFTCreateLine" title="Linha" href="#"><i class="fa fac-draw-line"></i></button>
                    <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlCFTCreatePolygon" title="Polígono" href="#"><i class="fa fac-draw-poly"></i></button>
                    <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlCFTSelectGeometry" title="Seleccionar" href="#"><i class="fa fa-mouse-pointer"></i></button>
                    <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlCFTModifyGeometry" title="Editar" href="#"><i class="fa fa-edit"></i></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-small" id="btnCFTClearGeometry" title="Eliminar geometria" href="#"><i class="fa fa-remove"></i></button>
                    <button type="button" class="btn btn-default btn-small" id="btnCFTZoomGeometry" title="Localizar geometria" href="#"><i class="fa fa-search-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Área de Influência <small>(metros)</small></label>
                <input id="ctrlCFTBuffer" value="" class="form-control input-sm" />
            </div>
        </div>

        {% if config_list and config_list|length > 1  %}
        <div class="col-md-12">
            <div class="form-group">
                <label>Tema</label>
                <select id="ctrlCFTConfig" class="form-control">
                {% for c in config_list %}
                    <option value="{{c.code}}">{{c.title}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-12" id="cftinfo">
            <div class="alert alert-info">
                Deverá marcar no mapa o local que pretende confrontar com o tema selecionado
            </div>
        </div>
        {% else %}
        <input type="hidden" id="ctrlCFTConfig" value="{{ config_list[0]['code'] if (config_list and config_list|length > 0) else ''}}" />
        <div class="col-md-12" id="cftinfo">
            <div class="alert alert-info">
                {% if config_list and config_list|length > 0 and config_list[0]['message_intro'] %}
                {{config_list[0]['message_intro']|safe}}
                {% else %}
                Deverá marcar no mapa o local que pretende confrontar com o Plano Director Municipal
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="col-md-12">
            <button type="button" id="btnAnalisar" class="btn btn-primary center-block" data-action="{{ url_for('map.intersect_cft') }}">Analisar</button>
        </div>

        <div class="col-md-12">
            <div id="validation" style="margin-top: 10px"></div>
        </div>

    </div>

    <div id="confrontation-results" style="clear: both"></div>
</div>