{% extends "security/_layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "_custom_macros.html" import render_field_with_bootstrap_errors %}

{% block title %}
<title>GeoApp - Recuperar password</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recuperar Password</h3>
                </div>
                <div class="panel-body">

                    {% include "security/_messages.html" %}

                    <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
                      {{ forgot_password_form.hidden_tag() }}

                        <fieldset>
                            <div class="form-group">
                                {{ render_field_with_bootstrap_errors(forgot_password_form.email,
                                    class="form-control", placeholder="Email") }}
                            </div>
                            {{ render_field(forgot_password_form.submit, class_="btn btn-lg btn-success btn-block") }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
