*.db
*.pyc
*.pyo
*.o
*.log
*.pdf
package-lock.json
yarn.lock
**/__pycache__/
/.idea
/libs
/venv*
/data
scalargis/app/plugins/*
!scalargis/app/plugins/proxy/
!scalargis/app/plugins/geonames/
!scalargis/app/plugins/spatial_toolbox/

