*.db
*.pyc
*.pyo
*.o
*.log
*.pdf
package-lock.json
yarn.lock
/.idea
/logs
/venv
/node_modules
bower_components/
/extras
web/logs/*.log
web/instance/development_local.py
web/app/static/client
web/app/static/backoffice
/.vscode/