Flask~=2.2.0
flask_security
flask_ldap3_login
flask_sqlalchemy
flask-restx
requests
bcrypt~=4.0.1
email_validator
psycopg2-binary
GeoAlchemy2
pyproj
GDAL
fiona
Shapely
reportlab==3.6.13
PyPDF2
qrcode
jsonmerge
waitress
Werkzeug==2.3.0