Flask~=3.1
Flask-Mail
Flask-Security~=5.9
flask-ldap3-login~=1.0.2
flask_sqlalchemy
flask-restx
Flask-WTF
Werkzeug~=3.1
requests
bcrypt~=4.0.1
cryptography>=42
email_validator
psycopg2-binary
GeoAlchemy2
pyproj
pyshp
GDAL @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/GDAL-3.8.2-cp39-cp39-win_amd64.whl;python_version=="3.9"
GDAL @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/GDAL-3.8.2-cp310-cp310-win_amd64.whl;python_version=="3.10"
GDAL @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/GDAL-3.8.2-cp311-cp311-win_amd64.whl;python_version=="3.11"
GDAL @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/GDAL-3.8.2-cp312-cp312-win_amd64.whl;python_version=="3.12"
fiona @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/fiona-1.9.5-cp39-cp39-win_amd64.whl;python_version=="3.9"
fiona @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/fiona-1.9.5-cp310-cp310-win_amd64.whl;python_version=="3.10"
fiona @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/fiona-1.9.5-cp311-cp311-win_amd64.whl;python_version=="3.11"
fiona @ https://github.com/cgohlke/geospatial-wheels/releases/download/v2024.1.1/fiona-1.9.5-cp312-cp312-win_amd64.whl;python_version=="3.12"
Shapely
geopandas
Pillow
lxml
reportlab==4.4.1
xhtml2pdf==0.2.17
PyPDF2
qrcode
jsonmerge
pyexcel
pyexcel-xls==0.7.0
pyexcel-io
pymupdf
waitress
pytz
itsdangerous
