requests~=2.27.1
bcrypt
lxml~=4.7.1
flask~=2.0.2
flask-babel
flask_security
flask-httpauth
flask-ldap3-login
flask-graphql
flask-migrate
flask-restx
flask_excel
flask-weasyprint
pyexcel_xls
sqlalchemy~=1.4.31
graphene~=2.1.9
graphene-sqlalchemy
psycopg2-binary
#psycopg2
GeoAlchemy2~=0.10.2
email_validator
pyshp
shapely~=1.8.0
pyproj~=3.3.0
reportlab~=3.6.6
PyPDF2~=1.26.0
jsonmerge~=1.8.0

Pillow~=9.0.0
Werkzeug~=2.0.2
WTForms~=3.0.1
Jinja2~=3.0.3