Flask~=2.2.0
flask_security
flask_ldap3_login
flask_sqlalchemy
flask-restx
requests
bcrypt
email_validator
psycopg2-binary
GeoAlchemy2
pyproj
GDAL @ https://download.lfd.uci.edu/pythonlibs/archived/GDAL-3.4.3-cp39-cp39-win_amd64.whl;python_version=="3.9"
GDAL @ https://download.lfd.uci.edu/pythonlibs/archived/GDAL-3.4.3-cp310-cp310-win_amd64.whl;python_version=="3.10"
fiona @ https://download.lfd.uci.edu/pythonlibs/archived/Fiona-1.8.21-cp39-cp39-win_amd64.whl;python_version=="3.9"
fiona @ https://download.lfd.uci.edu/pythonlibs/archived/Fiona-1.8.21-cp310-cp310-win_amd64.whl;python_version=="3.10"
Shapely
reportlab
PyPDF2
jsonmerge
waitress