/* custom styles */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc {
    cursor: pointer;
    *cursor: hand;
}
table.table thead .sorting_asc {
    background: url('../images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
    background: url('../images/sort_desc.png') no-repeat center right;
}
table.table thead .sorting {
    background: url('../images/sort_both.png') no-repeat center right;
}

table.sortable tbody tr {
    cursor: move;
}

.CodeMirror {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 90%;
}