<div class="row">
    <hr style="margin-top: 0px;margin-bottom: 0px">
    <div class="col-lg-9 col-sm-9 wow">
        <div class="contact-info-box address clearfix">

            <h4>WKT</h4>
            <h5>Sistemas de Informação</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-globe"></i><a href="http://www.wkt.pt" target="_blank" >www.wkt.pt</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 wow"  style="margin-top: 22px">
        <a href="http://www.wkt.pt" target="_blank" >
            <img alt="We Keep in Touch !" src="/static/images/logo.png" width="80%" height="80%" border="0">
        </a>
    </div>
</div>

<div class="row">
    <hr style="margin-top: 0px;margin-bottom: 0px">
    <div class="col-lg-12 col-sm-12 wow"  style="margin-top: 8px;text-align: right">
        <h6><small>Copyright © 2019 WKT-SI</small></h6>
    </div>
</div>




