<div class="top-bar">
    <div style="float: left; padding-top: 5px;">
        <a id="logo" href="https://www.wkt.pt">
            <img style="border: 0;position: relative;" alt="logo" src="/static/images/logo.png" height="50">
        </a>
    </div>
    <div style="float: left;color: white;padding-left: 30px;line-height: 60px;padding-top: 5px;">
        <span style="font-family: Yanone Kaffeesatz;font-size: 3em;font-style: italic;font-weight: lighter;">{{ map.titulo }} </span>
    </div>
</div>