<div id="measureOutput">
    <div class="modal-header" style="">
        <a href="#"  class="ol-popup-closer" onclick="$('#measureOutput').hide(); return false;"></a>
        <span>Medição</span>
        <button type="button" class="close" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="measure-info" style="clear: both;border-bottom: 1px solid #e9e9e9;
  height: 2em;
  line-height: 2em;
  font-size: 12px;
  clear: both;">
            <p class="pull-left">Comprimento: </p>
            <p class="pull-right measure-info-distance">m</p>
        </div>
        <div class="measure-info" style="clear: both;border-bottom: 1px solid #e9e9e9;
  height: 2em;
  line-height: 2em;
  font-size: 12px;
  clear: both;">
            <p class="pull-left">Área: </p>
            <p class="pull-right measure-info-area">m²</p>
        </div>
    </div>
</div>