<div class="menu-bar-heading">
    <a href="#" class="">Plano Director Municipal</a>
</div>
<div class="menu-bar-body">

    <div>
        <div id ="pdm-step-0" class="pdm-steps">

            <div class="col-md-12">
                <div class="well">
                    {#
                    <p>
                        Nesta área são disponibilizados documentos relativos ao PDM do {{ settings.ORGANIZATION or site_settings['organization_name'] or '' }} e à sua dinâmica.
                    </p>
                    #}
                    {% for widget in widgets if widget.codigo == 'pdm_intersect' %}
                    <p>
                        Através do botão <i>Analisar PDM</i> poderá realizar a confrontação de qualquer localização
                        com o <b>PDM</b>, obtendo a identificação automática das classes de espaço e condicionantes para o local identificado.
                    </p>

                    <button type="button" id="btnShowAnalisePDM" class="btn btn-primary center-block">Analisar PDM</button>
                    {% endfor %}
                </div>

            </div>

            <!--<div class="col-md-12">
                <div>
                    <div>
                        <div>
                            {% for p in planos|sort(attribute='ordem') %}
                            <h4>{{ p.nome }}</h4>
                            <div style="margin-left: 10px">
                                {% for d in p.documentos|sort(attribute='ordem') %}
                                    <div style="padding-top: 5px; padding-bottom: 5px; border-top: solid #efefef 2px;">
                                    {% if d.ficheiros|length > 0 %}
                                        <span><a href="#" style="text-decoration: underline;" class="doc-group-header">{{ d.nome }}</a></span>
                                        <div style="margin-left: 10px">
                                            {% for f in d.ficheiros|sort(attribute='ordem') %}
                                                <div><a href="{{ f.url }}" target="_blank">{{ f.nome }}</a></div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <span><a href="{{ d.url }}" target="_blank">{{ d.nome }}</a></span>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div id="pdm-step-1" class="pdm-steps" style="display: none;">

            <div class="step-back-area">
                <a href="#" class="step-back" data-step="#pdm-step-0"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Voltar</a>
            </div>

            <div class="col-md-12">
                <h5 class="page-header"><strong>Marcação de Local</strong></h5>
            </div>

            <div class="col-md-12 text-center">
                <div class="btn-toolbar geometry-buttons">
                    <div class="btn-group" data-group="btn-geometry">
                        <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlPDMCreatePoint" title="Ponto" href="#"><i class="fa fac-draw-point"></i></button>
                        <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlPDMCreateLine" title="Linha" href="#"><i class="fa fac-draw-line"></i></button>
                        <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlPDMCreatePolygon" title="Polígono" href="#"><i class="fa fac-draw-poly"></i></button>
                        <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlPDMSelectGeometry" title="Seleccionar" href="#"><i class="fa fa-mouse-pointer"></i></button>
                        <button type="button" class="btn btn-default btn-small btn-geometry-draw" data-button-id="ctrlPDMModifyGeometry" title="Editar" href="#"><i class="fa fa-edit"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-small" id="btnPDMClearGeometry" title="Eliminar geometria" href="#"><i class="fa fa-remove"></i></button>
                        <button type="button" class="btn btn-default btn-small" id="btnPDMZoomGeometry" title="Localizar geometria" href="#"><i class="fa fa-search-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="alert alert-info">
                    Deverá marcar no mapa o local que pretende confrontar com o Plano Director Municipal
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" id="btnAnalisar" class="btn btn-primary center-block" data-action="{{ url_for('map.intersect_pdm') }}">Analisar</button>
            </div>

            <div class="col-md-12">
                <div id="validation" style="margin-top: 10px"></div>
            </div>

            <div class="col-md-12">
                <div id="pdm-results">
                </div>
            </div>
        </div>

    </div>
</div>