<div>
	<div class="col-md-12">
		<div class="well">
			<p>
				Transcrição digital georreferenciada do conteúdo documental por que são constituídos os planos municipais de ordenamento do território.
			</p>
			<p>
				Plantas disponíveis à mesma escala e com as mesmas cores e símbolos dos documentos aprovados.
			</p>
			<p>
				É possível aceder de forma simples às legendas das plantas, permitindo a consulta rápida do significado das cores e símbolos utilizados.
			</p>
		</div>
	</div>

	<!-- PDM -->
	<div style="margin-top: 5px; padding-left: 10px;" class="resultsList">
		<span class="icon group-icon opened-icon"></span>
		<a href="#" class="group-title">
			<span>Plano Director Municipal</span>
		</a>
		<div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/regulamento_PDM.pdf');">Regulamento</span>
			  </div>
			</div>
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PDM_FARO_sintese-1.pdf');">Carta de Ordenamento Síntese</span>
			  </div>
			</div>
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PDM_FARO_Especiais.pdf');">Carta de Condicionamentos Especiais</span>
			  </div>
			</div>
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PDM_FARO_RAN.pdf');">Carta da Reserva Agrícola</span>
			  </div>
			</div>
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PDM_FARO_REN.pdf');">Carta da Reserva Ecológica</span>
			  </div>
			</div>
			<div class="item-line">
			  <div class="item-line-icon">
				<span class="icon item-icon"></span>
			  </div>
			  <div>
				<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PDM_FARO_Servidoes.pdf');">Carta de Servidões Administrativas</span>
			  </div>
			</div>
		</div>
	</div>

	<!-- Planos de Pormenor -->
	<div style="margin-top: 5px; padding-left: 10px;" class="resultsList">
		<span class="icon group-icon opened-icon"></span>
		<a href="#" class="group-title">
			<span>Planos de Pormenor</span>
		</a>
		<div class="resultsList opened">

			<!-- PP Conceição de Faro -->
			<div style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon"  data-value="PPCONCFARO"></span>
				</div>
				<a href="#" class="group-title">
					<span>Conceição de Faro</span>
				</a>
				<div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/regulamento_pp_conceiao.pdf');">Regulamento</span>
					  </div>
					</div>
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPConceicao_Implantacao.pdf');">Planta de Implantação</span>
					  </div>
					</div>
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPConceicao_Condicionantes.pdf');">Planta de Condicionantes</span>
					  </div>
					</div>
				</div>
			</div>

			<!-- PP Horta dos Pardais -->
			<div style="margin-top: 5px; padding-left: 10px;">
			  <div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PPHTPARD"></span>
			  </div>
			  <a href="#" class="group-title">
					<span>Horta dos Pardais</span>
			  </a>
			  <div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/Regulamento_pp_horta_pardais.pdf');">Regulamento</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPHortaPardais_Implantacao.pdf');">Planta de Implantação</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPHortaPardais_Condicionantes.pdf');">Planta de Condicionantes</span>
				  </div>
				</div>
			  </div>
			</div>

			<!-- PP Largo de São Luís -->
			<div style="margin-top: 5px; padding-left: 10px;">
			  <div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PPLGSL"></span>
			  </div>
			  <a href="#" class="group-title">
					<span>Largo de São Luís</span>
			  </a>
			  <div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/Regulamento_pp_s_luis.pdf');">Regulamento</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPLargo_S_Luis_Implantacao.pdf');">Planta de Implantação</span>
					</div>
				</div>
			  </div>
			</div>

			<!-- PP Parque das Cidades -->
			<div style="margin-top: 5px; padding-left: 10px;">
			  <div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PPPARQUECID"></span>
			  </div>
			  <a href="#" class="group-title">
					<span>Parque das Cidades</span>
			  </a>
			  <div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/Regulamento_Parque_Cidades.pdf');">Regulamento</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/Alteracao_Regulamento_Parque_Cidades.pdf');">Alterações ao Regulamento</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPParqueCidades_Implantacao.pdf');">Planta de Implantação</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPParqueCidades_Condicionantes.pdf');">Planta de Condicionantes</span>
				  </div>
				</div>
			  </div>
			</div>

			<!-- PP Sítio da Má Vontade e Pontes de Marchil -->
			<div style="margin-top: 5px; padding-left: 10px;">
			  <div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PPSITMAVONTD"></span>
			  </div>
			  <a href="#" class="group-title">
					<span>Sítio da Má Vontade e Pontes de Marchil</span>
			  </a>

			  <div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPSMVPM_Regulamento.pdf');">Regulamento</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PP_Sitio_Ma_Vontade_Pontes_Marchil_Declaracao_216_2014.pdf');">Declaração 216/2014</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPSMVPM_Implantacao.pdf');">Planta de Implantação</span>
				  </div>
				</div>

				<div class="item-line">
				  <div class="item-line-icon">
					<span class="icon item-icon"></span>
				  </div>
				  <div>
					<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PPSMVPM_Condicionantes.pdf');">Planta de Condicionantes</span>
				  </div>
				</div>

			   </div>
			</div>
		</div>
	</div>

	<!-- Planos de Urbanização -->
	<div style="margin-top: 5px; padding-left: 10px;" class="resultsList">
		<span class="icon group-icon opened-icon"></span>
		<a href="#" class="group-title">
			<span>Planos de Urbanização</span>
		</a>
		<div class="resultsList opened">

			<!-- PU Vale da Amoreira -->
			<div style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PUVA"></span>
				</div>
				<a href="#" class="group-title">
					<span>Vale da Amoreira</span>
				</a>
				<div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/regulamento_pu_vale_amoreira.pdf');">Regulamento</span>
					  </div>
					</div>

					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PUValeAmoreira_Zonamento.pdf');">Planta de Zonamento</span>
					  </div>
					</div>

					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PUValeAmoreira_Condicionantes.pdf');">Planta de Condicionantes</span>
					  </div>
					</div>
			  </div>
			</div>

			<!-- PU Penha -->
			<div style="margin-top: 5px; padding-left: 10px;">
				<div class="item-line-icon">
					<span class="icon group-icon opened-icon"></span>
					<span class="icon zoom-icon" data-value="PUPENHA"></span>
				</div>
				<a href="#" class="group-title">
					<span>Penha</span>
				</a>
				<div class="resultsList opened" style="margin-top: 5px; padding-left: 10px;">
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PU_Penha_regulamento.pdf');">Regulamento</span>
					  </div>
					</div>
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PU_Penha_Zonamento.pdf');">Planta de Zonamento</span>
					  </div>
					</div>
					<div class="item-line">
					  <div class="item-line-icon">
						<span class="icon item-icon"></span>
					  </div>
					  <div>
						<span class="cursorhand item-line-text" onclick="window.open('/geoportal/docs/planos/PU_Penha_Condicionantes.pdf');">Planta de Condicionantes</span>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>